.ax-forms{
  text-align: center;
  padding:50px 15px;

  .first-name{
    display: none;
  }
  form,
  input,
  select,
  textarea{
    @include reset;
  }
  input,select,textarea{
    width:100%;
    font-size:1.4rem;
    color:$b;
    resize:none;
    border:none;
    outline:none;
    border-bottom:1px solid $b;
    padding:5px;
    margin-bottom:5px;
    transition:all 600ms ease;

    &:focus{
      outline:none;
      border-bottom:1px solid $b;
      color:$b;
    }
    &:disabled{
      background:$b;
      color: $b;
    }
  }
  textarea{
    height:120px;
    padding:5px;
    margin-bottom:10px;
  }
  .check-wrapper{
    clear:both;
    height:auto;
    margin-bottom:10px;

    .check,
    label{
      @include i-block;
      width:auto;
    }
    .check{
      height:12px;
      margin-top:2px;
    }
    label{
      font-size:1.2rem;
      font-weight:300;
      border-bottom:none;
      margin-top:0px;
      padding-bottom:0px;
      color:$b;

      a{
        color:$b;
        text-decoration: underline;
      }
    }
  }
  .submit-btn input{
    background:$w;
    color:$b;
    padding:10px 25px;
    width:auto;
    border:1px solid $b;
    cursor: pointer;
    transition:all 800ms ease;

    &:hover{
      background:$b;
      color:$w;
    }
  }

  &.contact-form{
    form{
      max-width:70%;
      margin:0 auto;
      @media (max-width:768px) {
        text-align: center;
      }
      @media (max-width:576px) {
        max-width:90%;
      }
    }
  }
}
// Thankyou page
#thanks{
  .row{
    padding:150px 0px;
  }
  h1{
    margin-bottom:25px;
  }
  .txt{
    margin-bottom:15px;
  }
}
// Placeholder rewrite
.ax-forms{
  @mixin placeholderStyle($color, $size, $family: inherit) {
    color:$color;
    font-size:$size;
    font-family:$family;
  }

  ::-webkit-input-placeholder {
    @include placeholderStyle($b, 1em, $font);
  }
  ::-moz-placeholder {
    @include placeholderStyle($b, 1em, $font);
  }
  :-ms-input-placeholder {
    @include placeholderStyle($b, 1em, $font);
  }
  input:-moz-placeholder {
    @include placeholderStyle($b, 1em, $font);
  }
}

select,
.selectric-wrapper {
    position: relative;
    cursor: pointer;
    width:auto;
    max-width:100%;
    margin-bottom:10px;
    margin-top:5px;
    background:transparent;
    border:none;
    outline:none;

    .selectric{
      background:transparent;
      border:none;
      border-bottom:1px solid $b;
    }
    .label{
      margin-left: 0;
      padding:0px 30px 10px 0px;
      font-size:2rem;
      color:rgba(255,255,255,0.6);
      text-align:left;
    }
    .button-drop{
      width: 20px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background:$w;
    }
    .selectric-items{
      border-top:none;
    }
    .selectric-items li{
      background: $w;
      color:$b;
      text-align: left;
      font-size:2rem;
    }
    li.highlighted,
    .selectric-items li:hover{
      background:$b;
      color:$w;
    }
}
