.cta{
  @include i-block();
  @include font($font-title, 1.4rem, $font-weight, $font-style, $font-line, $font-space, $w);
  @include elevation(1);
  background-color:$b;
  padding:10px 50px;
  margin:10px;
  border-radius:10px;
  border:none;
  cursor: pointer;
  transition: all 800ms ease;
  @media (max-width:576px) {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }

  &:link,
  &:visited,
  &:hover,
  &:active{
    color:$w;
    text-decoration: none;
  }
  &:focus{
    outline:none;
    border:none;
  }
  &:hover{
    background-color:$w;
    color:$b;
  }
}
