nav.the-pager{
  ul.pagination{
    justify-content: center;
    align-items: center;
    align-content: center;

    li.page-item{
      .page-link{
        color:$b;
      }


      &.active .page-link{
        background-color: $g6;
        border-color: $g6;
        color:$w;
      }
      &.disabled .page-link{

      }
    }
  }
}
