// Main Slick Styles
.slider{
  position: relative;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;

  .slick-slide:focus { outline: none; }
  .slide{
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100% auto;
    background-size:cover;
  }
  .slick-list{}
}

// Arrow Navigation
.slick-controls{
    width:25px;
    height:100%;
    cursor: pointer;
    position:absolute;
    top:0px;
    left:0px;
    z-index:20;
    background-image:url('../../images/slider-sprite.png');
    background-repeat: no-repeat;
    background-size:50px auto;

    &:hover{
        opacity: 0.7;
    }

    &.slick-prev{
        background-position:0 center;
    }
    &.slick-next{
        background-position:-25px center;
        left:inherit;
        right:0px;
    }
    @media (max-width:768px) {
    }
}

// Dots Navigation
ul.slick-dots{
  position: absolute;
  bottom:0;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom:25px;
  list-style: none;
  text-align: center;

  li{
    @include i-block;
    margin:0 3px;
    padding:0;
    cursor: pointer;

    &:hover{
      opacity:0.8;
    }
    &.slick-active{
      button{
        background: $g6;
      }
    }

    button {
      width:12px;
      height:12px;
      border-radius:50%;
      cursor: pointer;
      border: 0;
      outline: none;
      background: $w;
      overflow:hidden;
      text-indent: 100px;
      border:1px solid rgba(5,38,67,0.2);
    }
  }
}
