//// DEVEL HELP
.col{
  //border:1px solid red;
}
@media (max-width:1200px) {
}
@media (max-width:992px) {
}
@media (max-width:768px) {
}
@media (max-width:576px) {
}
// END DEVEL HELP

// GENERAL SETTINGS
html{
  position:relative;
  height: 100%;
  width:100%;
  font-family:$font;
  font-size:$font-size;
  font-weight:$font-weight;
  letter-spacing:$font-space;
  line-height:$font-line;
  color:$font-color;
}

body{
  position:relative;
  height: 100%;
  width:100%;
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
  letter-spacing:inherit;
  line-height:inherit;
  color:inherit;
}
#page{
  position:relative;
  margin:0;
}
#page-loader{
    visibility: hidden;
    opacity: 0;
}
.max-width{
  @media (min-width:1280px) {
  }
}
strong{
  font-weight:bold;
}

em{
  font-style:italic;
}

img{
  @include img-res();
}
// END GENERAL SETTINGS
