/* Mixins */
@mixin font($font, $font-size, $font-weight, $font-style, $font-line, $font-space, $font-color){
  font-family:$font;
  font-size: $font-size;
  font-weight:$font-weight;
  font-style:$font-style;
  line-height:$font-line;
  letter-spacing:$font-space;
  color:$font-color;
}

@mixin box($b-wi, $b-he, $b-mar, $b-pad, $b-back, $b-bord, $b-bord-rad) {
  width:$b-wi;
  height:$b-he;
  margin:$b-mar;
  padding:$b-pad;
  background:$b-back;
  border:$b-bord;
  border-radius:$b-bord-rad;
}

@mixin i-block(){
  display:inline-block;
  vertical-align: top;
}

@mixin reset(){
  margin:0;
  padding:0;
}

@mixin img-res(){
  max-width: 100%;
  height: auto;
  display: block;
}

@mixin a-reset(){
  text-decoration:none;
}

@mixin super-reset(){
  margin: 0;
  padding: 0;
  border: none;
  background:transparent;
  height: auto;
  width: auto;
  min-height: auto;
  min-width: auto;
  max-width: auto;
  max-height: auto;
}

@mixin radius($tl,$tr,$bl,$br){
  -webkit-border-top-left-radius:$tl;
  -webkit-border-top-right-radius:$tr;
  -webkit-border-bottom-right-radius:$br;
  -webkit-border-bottom-left-radius:$bl;
  -moz-border-radius-topleft:$tl;
  -moz-border-radius-topright:$tr;
  -moz-border-radius-bottomright:$br;
  -moz-border-radius-bottomleft:$bl;
  border-top-left-radius:$tl;
  border-top-right-radius:$tr;
  border-bottom-right-radius:$br;
  border-bottom-left-radius:$bl;
}

@mixin columns($columns, $gap){
  -webkit-column-count:$columns; /* Chrome, Safari, Opera */
  -moz-column-count:$columns; /* Firefox */
  column-count:$columns;
  -webkit-column-gap:$gap; /* Chrome, Safari, Opera */
  -moz-column-gap:$gap; /* Firefox */
  column-gap:$gap;
}

@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25 ) {
  -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
  -moz-box-shadow:  $x $y $blur $spread rgba(0, 0, 0, $alpha);
  box-shadow:   $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

@mixin elevation($z) {
  @if $z == 1 {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  @else if $z == 2 {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }
  @else if $z == 3 {
    -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  @else if $z == 4 {
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
  }
  @else if $z == 5 {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  }
  @else if $z == 0 {
    -webkit-box-shadow:none;
    box-shadow:none;
  }
}

@mixin hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  &:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
