.header-1 {
  @include font($font, 6rem, $font-weight, $font-style, $font-line, $font-space, $font-color);
  @media (max-width:1200px) {}
  @media (max-width:768px) {}
}
.header-2 {
  @include font($font, 5rem, $font-weight, $font-style, $font-line, $font-space, $font-color);
  @media (max-width:1200px) {}
  @media (max-width:768px) {}
}
.header-3 {
  @include font($font, 4rem, $font-weight, $font-style, $font-line, $font-space, $font-color);
  @media (max-width:1200px) {}
  @media (max-width:768px) {}
}
.header-4 {
  @include font($font, 3.5rem, $font-weight, $font-style, $font-line, $font-space, $font-color);
  @media (max-width:1200px) {}
  @media (max-width:768px) {}
}
.header-5 {
  @include font($font, 3rem, $font-weight, $font-style, $font-line, $font-space, $font-color);
  @media (max-width:1200px) {}
  @media (max-width:768px) {}
}
.header-6 {
  @include font($font, 2.5rem, $font-weight, $font-style, $font-line, $font-space, $font-color);
  @media (max-width:1200px) {}
    @media (max-width:768px) {}
}
.text-big {
  @include font($font, 2rem, $font-weight, $font-style, $font-line, $font-space, $font-color);
  @media (max-width:1200px) {}
  @media (max-width:768px) {}
}
.text {
  @include font($font, 1.6rem, $font-weight, $font-style, $font-line, $font-space, $font-color);
  @media (max-width:1200px) {}
  @media (max-width:768px) {}
}

.txt{
  @include reset;

  &.italic{
    font-style: italic;
  }
  &.light{
    font-weight: 300;
  }
  &.medium{
    font-weight: 500;
  }
  &.semibold{
    font-weight: 600;
  }
  &.bold{
    font-weight: bold;
  }
  &.white{
    color: $w;
  }
  &.black{
    color:$b;
  }
  &.grey3{
    color:$g3;
  }
  &.grey6{
    color:$g6;
  }
  &.grey9{
    color:$g9;
  }
  &.greyc{
    color:$cc;
  }
  &.grey{
    color: $grey;
  }
  &.grey-dark{
    color: $grey-dark;
  }
}

.back{
  &.white{
    background-color: $w;
  }
  &.grey{
    background-color: $grey;
  }
  &.grey-dark{
    background-color: $grey-dark;
  }
}

.al-left{
  text-align: left;
}
.al-center{
  text-align: center;
}
.al-right{
  text-align: right;
}
