// Color variables
$w:#FFFFFF;
$b:#000000;
$g3:#333333;
$g6:#666666;
$g9:#999999;
$cc:#CCCCCC;

$grey: #E4E4E4;
$grey-dark: #4D4D4D;

// Typography
$font:"Open Sans", Sans-Serif;
$font-title:"Open Sans", Sans-Serif;
$font-size:10px;
$font-line:1.4;
$font-weight:normal;
$font-style:normal;
$font-space:0.1rem;
$font-color:$b;
$font-link-color:$b;
