#header{
  background:$w;

  .logotype{
    max-height:auto;
  }
  // Sticky header
  &.sticky{
    position: fixed;
    top: 0;
    left:15px;
    width:100%;
    z-index:900;

    // Main menu and logo
    ul.main-menu{
      li{
        padding:10px 15px 10px 15px;
        @media (max-width:992px) {
          padding:10px 10px 10px 10px;
        }
      }
    }
  }
}
