#header{
  // Override Bootstrap Styles
  .navbar{
    width:100%;
    padding:0;
  }
  .navbar-collapse{
    flex-flow: row wrap !important;
  }
  .menu-toggle-wrapper{
    width:100%;
    border-bottom:2px solid $b;
    text-align: center;
    padding:5px;
    display:none;
    @media (max-width:992px) {
      display:block;
    }
  }
  .menu-toggle{
    display:none;
    position:relative;
    background:transparent;
    width:35px;
    border:1px solid $b;
    padding:8px 4px 4px 4px;
    margin:0;
    border-radius:4px;
    cursor:pointer;
    @media (max-width:992px) {
      @include i-block;
    }

    .line{
      display:block;
      margin-bottom:4px;
      height:2px;
      width:100%;
      background-color:$b;
    }
  }

  // Header custom styles
  .main{
    width:100%;

    ul, li{
      @include reset;
    }
    li{
      @include i-block;
    }
  }


  // Main menu and logo
  .main{
    @include elevation(1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding:25px 0;
    z-index:2;

    .col{
      padding:0;
    }
    ul.main-menu{
      text-align: right;
      padding-right:8%;
      @media (max-width:768px) {
        text-align: right;
        padding-right:15px;
      }

      a, span{
        @include font($font, $font-size, $font-weight, $font-style, $font-line, $font-space, $font-color);
      }
      li.active, li:hover{
        a, span{
        }
      }
      li{
        @media (max-width:992px) {
        }
      }
    }
  }
}
